* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .general-nav_bar {
    display: none;
  }
  header {
    background-color: black;
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  span a {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin-left: 20px;
  }
  span a:hover {
    color: black;
    background-color: #c6c6c6;
  }
  .nav-toggle {
    position: absolute;
    display: block;
    top: -9999px;
    left: -9999px;
  }

  .nav-toggle-label {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 13px;
    border-radius: 1px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 4px;
  }

  .nav-toggle-label span::after {
    top: 4px;
  }

  .nav_special_button {
    position: absolute;
    display: block;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: black;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  .nav_special_button ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav_special_button li {
    margin-bottom: 30px;
    margin-left: 25px;
  }

  .nav_special_button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .nav_special_button a:hover {
    color: black;
    background-color: #c6c6c6;
  }

  .nav-toggle:checked ~ .nav_special_button {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ .nav_special_button a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  .resizing_div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resizing_div .div_s {
    width: 100%;
    margin-bottom: 10px;
  }
  .sizes_div {
    flex-direction: column;
  }
  .sizes_div .photo_sizes {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .notfication_3::after {
    position: absolute;
  }
  .container .sizing-input {
    width: 100%;
  }
  .section_input {
    flex-direction: column;
  }
  form .d_style {
    flex-direction: column;
  }
  .d_style .resizing_input {
    width: 100%;
  }
  .for-ic {
    padding: 5px;
  }
  .for-sc {
    font-size: 10px;
  }
  .im1 {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 601px) {
  .pixels_theme {
    display: none;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .container {
    top: 0;
  }
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .general-nav_bar {
    /* position: absolute; */
    text-align: left;
    top: 100%;
    left: 0;
    background-color: black;
    width: 100%;
  }
  .general-nav_bar ul {
    margin: 0;
    padding: 0;
    margin-top: 12px;
    list-style: none;
  }
  .general-nav_bar li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  .general-nav_bar li:hover {
    color: black;
    background-color: #c6c6c6;
  }
  .general-nav_bar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
  }
  .general-nav_bar a:hover {
    color: black;
    background-color: #c6c6c6;
  }
  select {
    font-family: Arial, Helvetica, serif;
    border: none;
    font-size: 16px;
    color: white;
    background-color: black;
  }
  select option {
    color: black;
    background-color: white;
  }
  .custom-select {
    position: relative;
  }
  .custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: black;
    height: 100%;
    width: 60px;
    pointer-events: none;
  }
  .custom-arrow::before,
  .custom-arrow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 30%;
  }
  .custom-arrow::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    border-radius: 5px;
  }
  i {
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
img {
  width: 100%;
}
.h_end {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}
h2 {
  text-align: center;
  letter-spacing: 4px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
  text-transform: uppercase;
}
.sec_span {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.font_view {
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: italic;
  opacity: 0.6;
  font-size: 15px;
}
.sizes_div {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.photo_sizes {
  width: 33%;
  display: flex;
}

.photo_sizes img {
  width: 60%;
  border-radius: 4px;
  margin-bottom: 16px;
}
.sec_1 {
  position: relative;
}
.names {
  text-align: center;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.names {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}
.for-sc {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  padding: 32px 16px;
  color: black;
}

.for-sc h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px 10px 0px;
  color: white;
}

.for-sc p {
  font-weight: bolder;
  color: white;
}
.sec_3 {
  background-color: black;
  color: white;
}

.sec_in_tour {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}

.sec_in_tour-span {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sec_span_tour {
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: italic;
  opacity: 0.6;
  font-size: 15px;
}

.sec_ul {
  margin-left: auto;
  margin-right: auto;
  color: #757575;
  list-style-type: none;
}

.sec_li {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
}

.sold-out::after {
  content: "Sold out";
  background-color: #f44336;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
  left: 3%;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.notfication_3::after {
  content: "3";
  background-color: black;
  border-radius: 50%;
  color: white;
  position: relative;
  padding: 3px 8px;
  left: 85%;
}

.resizing_div {
  display: flex;
  width: 100%;
  padding: 32px 0px 32px 0px;
}

.div_s {
  width: 33.33333%;
  padding: 0 8px;
}

.div_s img {
  width: 100%;
  margin: 0px;
}

.details_div {
  background-color: white;
  padding: 16px 16px;
  margin-top: -21px;
}

.div_s-name {
  color: black;
  font-weight: bold;
  font-style: normal;
  margin: 15px 0px;
  margin-bottom: -10px;
}

.date_1 {
  opacity: 0.6;
  color: black;
  margin: 15px 0px;
}

.div_s_info {
  color: black;
  margin: 15px 0px;
}

.buy_button {
  margin-bottom: 16px;
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.buy_button:hover {
  background-color: #ccc;
}

.im1 {
  position: relative;
}
.section_contact {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}
.section_input {
  display: flex;
  width: 100%;
  padding: 32px 0px;
}
.for-ic {
  display: flex;
  align-items: flex-start;
}
.section_det {
  width: 50%;
  font-size: 18px;
}

.sizing-input {
  width: 50%;
}

.d_style {
  display: flex;
  margin: 0px -8px 8px -8px;
}
::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.resizing_input {
  width: 50%;
  padding: 0px 8px;
}

.input_views {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}

.marg_left {
  margin-left: 23.5px;
}

.input_meassage {
  width: 100%;
}

.send_button {
  padding: 8px 16px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: none;
}
.send_button:hover {
  color: black;
  background-color: #c6c6c6;
}
.button-d {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

footer {
  padding: 34px 16px;
  opacity: 0.5;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  font-size: 24px;
}
.sec_3 {
  position: relative;
}
.sec_3::after {
  position: absolute;
}
.footer-icons i {
  width: 22px;
}
.footer_div {
  text-align: center;
}
.footer_div-span {
  margin-bottom: 30px;
}

.footer_div-span a {
  color: black;
}
